<main>
    <section>
      <h1>Bienvenue sur votre dashboard</h1>
      <p>Ici, vous pouvez gérer différentes fonctionnalités.</p>
    </section>

    <section>
      <h2>Vos animaux</h2>
      <div class="animal-cards">
        <% @owner_animals.each do |animal| %>
        <a href="<%= animal_path(animal) %>" class="card-link">
          <div class="cards mb-2">


          <% animal.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 280, width: 250, heihtcrop: :lpad %>
          <% break %>
          <% end %>
        <div class="card-body">
              <h3 class="text-center p-1 m-1"><%= animal.name %></h3>
                <div class="card-text text-center">
                    <strong><%= animal.escort_name %></strong>
                        <%= animal.specie %>
                        <p><strong><%= animal.price %> €</strong> /jour</p>
                    </div>
                  </div>
                </div>
                </a>
              <% end %>
              </div>
    </section>
  </main>
