<%= simple_form_for(@booking) do |f| %>
  <div class="form-inputs">
    <%= f.input :starting_date %>
    <%= f.input :ending_date %>
    <%= f.input_field :animal_id, as: :hidden, input_html: { value: params[:id] } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
