<%= simple_form_for(@booking) do |f| %>
  <div class="form-inputs">
   <div class="input"> <%=f.input :starting_date, html5: true %> </div>
    <div class="input"><%= f.input :ending_date, html5: true %></div>
   <%= f.input_field :animal_id, as: :hidden, value: params[:id] %>
  </div>
  <h5>
    <%= @animal.price%>€ /jour
  </h5>
  <div class="form-actions">
    <%= f.submit "Réserver cet animal", class:"button-form"  %>
  </div>
<% end %>

