<div class="container back-index text-center">
  <div class="title-index">
    <h1>Toutes nos stars</h1>
    <p>Tout besoin a sa solution !</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: animals_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher une SYJA"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>

  <div class="content-index">
    <div class="card-index">
      <% @animals.each do |animal| %>
        <a href="<%= animal_path(animal) %>" class="card-link">
          <!-- Contenu de la carte -->
          <div class="cards mb-2">
            <% animal.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 280, width: 250, class: "object-fit-cover" %>
            <% break %>
            <% end %>
          <div class="card-body">
            <h3 class="text-center p-1 m-1"><%= animal.name %></h3>
              <div class="card-text text-center">
                  <strong><%= animal.escort_name %></strong>
                <%= animal.specie %>
                <p><strong><%= animal.price %> €</strong> /jour</p>
            </div>
          </div>
        </div>
        </a>
      <% end %>
    </div>

    <div id="map"style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >

  </div>

</div>
