<h1>Animals#show</h1>
<p>Find me in app/views/animals/show.html.erb</p>
<ul><li><strong>Name :</strong> <%= @animal.name %></li>
<li><strong>Espèce :</strong> <%= @animal.specie %></li>
<li><strong>Genre :</strong> <%= @animal.gender %></li>
<li><strong>Age :</strong> <%= @animal.age %></li>
<li><strong>Particuralité :</strong> <%= @animal.skill %></li>
<li><strong>Nom de scène :</strong> <%= @animal.escort_name %></li></ul>

<button class="button-48" role="button"><span class="text">Réserver cet animal</span></button>
<%= render 'animals/reservation_form', animal: @animal %>
