<h1>Animals#show</h1>
<p>Find me in app/views/animals/show.html.erb</p>
<ul><li><%= @animal.name %></li>
<li><%= @animal.specie %></li>
<li><%= @animal.gender %></li>
<li><%= @animal.age %></li>
<li><%= @animal.skill %></li>
<li><%= @animal.escort_name %></li></ul>
