<!DOCTYPE html>
<html>
  <head>
    <title>BestBicheEu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/71499c7692.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= render "layouts/partials/navbar"%>
      <div class="main">
      <%= yield %>
      </div>
      <%= render "layouts/partials/footer" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    </body>
</html>
<%= render "shared/flashes" %>
